
#form_container {
    width: 80vw;
    min-width: 300px;
    margin: 0 auto;
    box-shadow: 10px 10px 5px;
    border: 5px solid black;
    background-color: rgb(227, 226, 226);
    transition: opacity 0.15s, scale 0.15s;
    position: absolute;
    top:12vh;
    left:10%
    /* position: fixed;
    left: 10%;
    z-index: 1000; */
}
.show_form_container {
    opacity: 1;
    scale: 1;
}
.hide_form_container {
    opacity: 0;
    scale: 0;
}

#form_header {
    text-align: center;
    border-bottom: 5px solid black;
}

#hide_form_button {
    height: 10vh;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    font-size: calc(2rem + 0.5vw);
}
#hide_form_button:hover {
    background-color: rgba(98, 98, 98, 0.685);
    color: white;
    cursor: pointer;
}

#content {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.form_question {
    padding: 0;
    padding-left: 2vw;
    font-size: calc(1.0rem + 0.5vw);
    transition: opacity 0.3s, scale 0.3s;
    padding-top: 0;
    opacity:0;
    scale: 0;
    width: 0px;
    height: 0px;
    visibility: hidden;
    display: flex;
}

.show_form_question {
    scale:1;
    opacity: 1;
    width: 100%;
    height: 10vh;
    visibility: visible;
    display: block;
}

.form_question p{
    margin-bottom: 1vh;
}

.writable_input{
    height: calc(1.0rem + 0.5vw);
    width: 90%;
}



